<html>
    <head>
    </head>
    <body>
        <div class='container_12'>
            <div class='grid_12'>
                <span>Loja</span>
                {% if user.is_authenticated %}
                    <a href='/logout'>logout</a>
                {% else %}
                <span><a href='/registrar'>registrar</a> | <a href='/login'>login</a></span>
                {% endif %}

            </div>
            <div id="produtos">
                {% for produto in produtos %}
                    <div class='grid_3 produto'>
                        <p>{{ produto.nome }}</p>
                        <p>R${{ produto.preco }}</p>
                        <a href='comprar'>comprar</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
