body
{
	background-color:black;
	width:100%;
	margin:0 auto;
	top:0;
	font:12px verdana, times new roman, arial, sans serif;
}

div#container
{
	background-color:black;
	width:990px;
	margin:0 auto;
}

div#header
{
	background-color:navy;
	border-bottom:3px solid aqua;
	width:100%;
	height:100px;
	user-select:none;
		-webkit-user-select:none;
		-moz-user-select:none;
		-ms-user-select:none;
	cursor:default;
	background: -webkit-linear-gradient(black, navy);
	background: -moz-linear-gradient(black, navy);
	background: -o-linear-gradient(black, navy);
	background: linear-gradient(black, navy);
}


div#content
{
	width:965px;
	padding:10px;
	margin:0 auto;
	color:white;
	border-bottom:3px solid white;
}

div#footer
{
	position:relative;
	bottom:0;
	width:100%;
	height:25px;
	color:white;
	text-shadow:
		#aaa 1px 1px 3px,
		#aaa -1px -1px 3px,
		#aaa 1px -1px 3px,
		#aaa -1px 1px 3px;
	font:13px Garamond, Verdana;
	padding:20px 0 20px 0;
	text-align:center;
}

h1
{
	text-align:center;
	color:white;
	text-shadow:
		aqua 1px 1px 3px,
		aqua -1px -1px 3px,
		aqua 1px -1px 3px,
		aqua -1px 1px 3px;
}

h2
{
	display:inline;
	padding:5px;
	text-align:center;
	margin-left:40.5%;
	font:19px garamond;
	border-top:1px dotted #aaa;
	border-bottom:1px dotted #aaa;
	color:white;
}

h3
{
	text-align:center;
	font:30px garamond;
	text-shadow:
		#aaa 1px 1px 3px,
		#aaa -1px -1px 3px,
		#aaa 1px -1px 3px,
		#aaa -1px 1px 3px;
}

h3 span
{
	font:19px garamond;
	color:black;
}

p.obs
{
	color:gold;
	font-size:10px;
}

p.texto
{
	color:blue;
	font-weight:bolder;
}

p.texto span
{
	color:white;
	font-weight:normal;
	font-style:italic;
}

div#menuBox
{
	background-color:black;
	width:100%;
	height:28px;
}
div#menu
{
	display:block;
	height:23px;
	margin:0 auto;
	padding:0px;
	font-size:11px;
}

div#menu a.menu, div#menu a.menu:visited
{
	width:100%;
	text-decoration:none;
	color:#fff;
}
div#menu a.menu:hover
{
	border-left:3px solid white;
	text-shadow:none;
}
	
	div#menu ul{ list-style:none; margin:0; padding:0; }

	div#menu li ul{display:none; }

	div#menu ul li{ float:left; position:relative; width:131px; height:23px; }

	div#menu ul li a.menu 
	{
		display:block;
		padding-top:5px; margin:0;
		width:130px;
		height:23px;
		text-align:center;
		border-left:3px solid aqua;
		background:MidnightBlue;
	}
	
	div#menu ul li:hover ul {display:block; margin-top:-1px; }

	div#menu ul li:hover ul li ul { display:none; }

	div#menu ul li:hover ul li:hover ul { display:block; position:absolute; left:131px; top:0; margin-top:0; }


div.conteudoSimples,
div.conteudoDuplo,
div.conteudoTriplo,
div.conteudoQuadruplo,
div.conteudoQuintuplo,
div.conteudoSextuplo,
div.conteudoDoisTercos,
div.conteudoTresQuartos { padding-bottom:10px; margin:0 20px 0 0; float:left; }
	div.conteudoSimples { width:930px; }
	div.conteudoDuplo { width:445px; }
	div.conteudoTriplo { width:290px; }
	div.conteudoQuadruplo { width:202px; }		
	div.conteudoQuintuplo { width:166px; }
	div.conteudoSextuplo { width:115px; }
	div.conteudoDoisTercos { width:600px; margin:0px; }
	div.conteudoTresQuartos { width:666px; }
	
a, a:visited
{
	text-decoration:none;
	text-align:center;
	color:indigo;
}
a:hover
{
	color:white;
	text-shadow:
		#aaa 1px 1px 3px,
		#aaa -1px -1px 3px,
		#aaa 1px -1px 3px,
		#aaa -1px 1px 3px;
}

img
{
	box-shadow:
		#aaa 1px 1px 3px,
		#aaa -1px -1px 3px,
		#aaa 1px -1px 3px,
		#aaa -1px 1px 3px;
	transition:0.5s;
	-moz-transition:0.5s;
	-webkit-transition:0.5s;
	-o-transition:0.5s;
}
img:hover
{
	box-shadow:
		#aaa 3px 3px 6px,
		#aaa -3px -3px 6px,
		#aaa 3px -3px 6px,
		#aaa -3px 3px 6px;	
}

	input[type=button],
	input[type=submit],
	input[type=reset]
	{
		cursor:pointer;
		padding: 3px 2px;
		background: #066;
		color: #FFF;
		border:1px solid  #20538D;
		border-radius: 5px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
		text-shadow:rgba(0, 0, 0, 0.4) 0 -1px 0;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
			-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
			-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
		transition-duration: 0.3s;
			-webkit-transition-duration: 0.3s;
			-moz-transition-duration: 0.3s;
		user-select:none;
			-webkit-user-select:none;
			-moz-user-select:none;
			-ms-user-select:none;
	}

	/*INPUT - BUTTONs - ACTIVE*/
	input[type=button]:active,
	input[type=submit]:active,
	input[type=reset]:active
	{
		box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
			-webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
			-moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
		background: #2E5481;
		border: solid 1px #203E5F;
		transition-duration: 0.1s;
			-webkit-transition-duration: 0.1s;
			-moz-transition-duration: 0.1s;
	}

	/*INPUT - BUTTONs - FOCUS & HOVER*/
	input[type=button]:focus, input[type=button]:hover,
	input[type=submit]:focus,input[type=submit]:hover,
	input[type=reset]:focus,input[type=reset]:hover
	{
		background: #699;
		border: solid 1px #2A4E77;
		text-decoration: none;
		text-shadow:rgba(0, 0, 0, 0.4) 0 -1px 0px;
	}

table.tableMain
{
	border:2px solid white;
	text-align:center;
	border-collapse:collapse;
}

table.tableMain td
{
	padding:10px;
	border-right:1px dotted white;
}

table.tableMain thead th
{
	padding:5px;
	border-right:1px dotted white;
	border-bottom:2px solid white;
	text-shadow:
		navy 1px 1px 3px,
		navy -1px -1px 3px,
		navy 1px -1px 3px,
		navy -1px 1px 3px;
}

table.tableMain tfoot th
{
	padding:5px;
	border-right:1px dotted white;
	border-top:2px solid white;
	text-shadow:
		navy 1px 1px 3px,
		navy -1px -1px 3px,
		navy 1px -1px 3px,
		navy -1px 1px 3px;
}
